@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .mask-radial {
    mask-image: radial-gradient(circle at center, black, transparent 80%);
  }
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #4c1d95;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6d28d9;
}